th,td {
    padding: 15px;
    text-align: left;
}

th{
	text-align: center;
	font-size: 120%;
}

.listSalles, .listReponses{
	margin-left: auto;
	margin-right: auto;
}

.btnCreateRoom{
	margin: 5px 10px 5px 80%;
}

.formCreateRoom{
	padding: 5px 0 5px 15px;
}

.joueurs{
	float: left;
	width: 50%;
	background-color: white;
}

.questionsReponses{
	float: right;
	width: 50%;
	background-color: white;
	padding-top: 15px;
}

.question{
	font-size: 120%;
	font-weight: bold;
	text-align: center;
}

.reponse{
	width: 150px;
}